<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/admin/admin.css">

</head>
<body>
    <div class="header"></div>
    <div class="container">
        <div class="leftContainer">
            <h1>codingforbaby</h1>
            <ul>
                <li><a class="active" href="">Dashboard</a></li>
                <li class="extraPosts"><a href="">Posts</a>
                <div class="postsHover">
                    <ul>
                        <li><a href="/admin/addpost">Add Post</a></li>
                        <li><a href="">Show Posts</a></li>
                        <li><a href="/admin/addcategory">Category</a></li>
                    </ul>
                </div>
                
                </li>
                <li class="extraUsers"><a href="">Users</a>
                
                    <div class="usersHover">
                        <ul>
                            <li><a href="">Add User</a></li>
                            <li><a href="/admin/showusers">Show Users</a></li>
                            <!-- <li><a href="">Category</a></li> -->
                        </ul>
                    </div>
                
                </li>
                <li><a href="">Settings</a></li>
                <!-- <li><a href="">Dashboard</a></li> -->
                <!-- <li><a href="">Dashboard</a></li> -->
            </ul>
        </div>
        <div class="rightContainer">
           
            <table style="width:100%">
                <tr>
                  <th>Post Title</th>
                  <th>Post Body</th>
                  <th>Post Author</th>
                  <th>Date</th>
                  <th>Category</th>
                  <!-- <th>Picture</th>
                  <th>Date Of Adding</th> -->
                  <th>Action</th>
                </tr>

                <% results.forEach((result)=>{ %>

               
                 
                <tr>
                  <td><%= result.title %></td>
                  <td><%- result.body %></td>
                  <td><%= result.author %></td>
                  <td>Admin</td>
                  <td><%= result.catName %></td>
                  <!-- <td>Admin</td>
                  <td>12-3-2021</td> -->
                  <td><a href="/admin/postedit/<%= result._id %>">Edit</a><a href="/admin/postdelete/<%= result._id %>">Delete</a></td>
                </tr>
                <%  }) %>
              </table>




        </div>
    </div>
</body>
</html>